<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>ToDo</title>
<link type="text/css" rel="stylesheet" href="static/looks.css" />
</head>

<body>

<div id="header">
   <h1><a href="index">Doctor Listing</a></h1>
   <ul>
    <li><a href="newdoctor">New Doctor</a></li>
    <li><a href="#" class="selected">Todo</a></li>
   </ul>
</div>

<h3>TODO</h3>
<ul>
<li>Proper data types for doctors model</li>
<li>Error handling in case of invalid data</li>
<li>Search bar on the panel above! There should not be any text search atm. ready-made questions will fulfill the purpose initially.</li>
<li>Themeing</li>
<li>Address needs to be properly listed as a hospital or clinic </li>
<li>Telephone extension field</li>
<li>Feature of multiple telephone entries</li>
<li>Mentioning of days</li>
<li>HTML and CSS Validator</li>
</ul>

</body>
</html>

